body {
  background-color:DarkSlateGray  ;
  font-family: 'Signika Negative', sans-serif;
  font-size: 20px;
  color: white;
  /* background-image: url('../Assets/poker-table.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; */
}


/* .pokerHeader {
text-align: center;
font-family: 'Russo One', sans-serif;
font-size: 40px;
background-color: beige;
border-radius: 50px;
padding: 10px 10px;
} */

.round-count {
  display: none;
  position: fixed;
  bottom: 50%;
  right: 70%;
}

.show-message {
  font-size: 30px;
  color: gold;
  position: fixed;
  bottom: 45%;
  right: 70%;
}

#player1 {
  text-align: center;
  padding-top: 150px;
}

#table {
  text-align: center;
  padding-top: 100px;
}

#player0 {
  text-align: center;
  padding-top: 50px;
}

.display-bet-buttons, .start-game {
  text-align: center;
  margin-top: 40px;
}

#fold {
  font-size: 40px;
  border-radius: 20px;
  padding: 10px;
}

#call {
  font-size: 40px;
  border-radius: 20px;
  padding: 10px;
}

#check {
  font-size: 40px;
  border-radius: 20px;
  padding: 10px;
}

#raise {
  font-size: 40px;
  border-radius: 20px;
  padding: 10px;
}

#raiseForm {
  display: none;
  margin-top: 20px;

}

#raiseForm {
  text-align: center;
}

#submitBet, #raiseBet {
  height: 40px;
}

#loader {
  position: fixed;
  display: block;
  bottom: 1px;
  background-size: 1700px auto;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  background-position: center center;
  width: 100%;
  height: 100%;

}

.container {
  position: relative;
  display: block;
  background-size: 1700px auto;


  background-image: url('../Assets/poker-table.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.player-chips {
  text-align: center;
}


.dealerChip
{
  width: 50px;
  height: 50px;
  /* margin-left: 100px; */
}

#dealer0 {
  display: none;
}

.card {
  width: 100px;
}

.pot {
  width: 70px;
  height: 70px;
}


.display-bet-buttons {
  display: none;
  position: fixed;
  bottom: 1%;
  right: 43%;
}
@keyframes neonspark  {
  0% { text-shadow: none; }
  30% { text-shadow: 0 0 30px rgba(255,0,84,0.6); }
  60% {
    text-shadow: 0 0 30px rgba(255,0,84,0.6),
    0 0 60px rgba(255,0,84,0.4);
  }
  80% { text-shadow: none; }
  100% {
    text-shadow: 0 0 30px rgba(255,0,84,0.6),
    0 0 60px rgba(255,0,84,0.4),
    0 0 100px rgba(255,0,84,0.2),
    0 0 90px rgba(255,0,84,0.1);
  }
}

@font-face{
  font-family:'Neon80sRegular';
  src: url('//thenewcode.com/assets/fonts/neon-webfont.woff') format('woff'),
  url('/assets/fonts/neon-webfont.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
body { margin: 0; }
h1#neon-tubing {
  /* position: absolute; */
  padding: 6rem;
  text-align: center;
  color: rgba(255,200,200,0.8);
  font-family: Neon80s, sans-serif;
  font-size: 11rem; letter-spacing: 2rem;
  background-size: cover;
}

h1#neon-tubing {
  position: absolute;
  padding: 5px;
  margin-left: 870px;

  /* margin: 0; */
  font-weight: 100;
  text-align: center;
  font-family: Neon80sRegular, sans-serif;
  color: #ff5757;

  text-transform: uppercase;
  font-size: 6rem;
  letter-spacing: 2rem;
  animation: neonspark 3  s 3s forwards;
  text-shadow:
  0 0 20px rgba(255,0,84),
  0 0 40px rgba(255,0,84, 1),
  0 0 60px rgba(255,0,84,0.2),
  0 0 80px rgba(255,0,84,0.1);
}
h1#neon-tubing span { animation: neonspark 2s 1s infinite;  }

#playChips1, #playChips0, #potChips {
  margin-right: 10px;
  margin-left: 10px;
}



/* .game {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  } */
